<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io(); //1

        $(document).ready(function () {

            $("#green").click(() => {
                socket.emit('green');
                // $('body').css("background-color", "green");
            });

            $("#blue").click(() => {
                socket.emit('blue');
                // $('body').css("background-color", "blue");
            });

            $("#pink").click(() => {
                socket.emit('pink');
                // $('body').css("background-color", "pink");
            });
            socket.on('send' , (color)=>{
                $('body').css("background-color", color.color);
            });


        }); //6

    </script>
    <title>Document</title>
</head>

<body>
    <button id="green"> To green</button>
    <button id="blue"> To blue</button>
    <button id="pink"> To pink</button>
</body>

</html>