<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/chat.js"></script>
    
    <title>Document</title>
</head>

<body>
    <div class="site-chat">
        <div class="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
            <!-- this is where the chat will show up -->
            <input id="handle" type="text" placeholder="Handle">
            <input id="message" type="text" placeholder="Messages">
            <button id="send">SEND MESSAGE</button>
        </div>
    </div>
</body>

</html>