<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
            var socket = io(); //1
        $(document).ready(function () {


            $("#btn").click(function () {
                
                socket.emit('counter');
            });
            $("#btn1").click(function () {
                
                socket.emit('reset');
            })
        });
        socket.on('add', (data) => {
            $('#counter').html(data.counter)
        }); //6

    </script>

    <style>

    </style>
    <title>Document</title>
</head>

<body>
    <div class="con">

        <h1>The button has been pushed <span id="counter"> 0 </span> time(s) </h1>
        <br><br><br>
        <h3>Push the button to update the count! </h3>

        <button type="button" id="btn"> Push the epic button</button>
        <button type="button" id="btn1"> Reset</button>

    </div>
</body>

</html>